# NOTE: Keep in sync with other configuration ignore files

node_modules

artifacts
cache
coverage
coverage.json
gas_report
**.flat.sol

# We no longer use `credentials.json`. Nevertheless, keep it in here in case
# someone forgot to remove it and accidentally pushes it.
credentials.json
.env

src/contracts
dist

.idea
